<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <div class="my-0 mr-md-auto font-weight-normal">
      <%= link_to 'Questions', questions_path, class: 'navbar-brand' %>
    </div>

    <% if signed_in? %>
      <%= link_to 'Your achievements', achievements_path, class: 'card-link text-warning' %>
      <span class="p-2 text-white"><%= current_user.email %></span>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger my-2 my-sm-0' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
      &nbsp;
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>
